:root {
  --hue-1: #55423d;
  --hue-2: #e78fb3;
  --hue-3: #ffc0ad;
  --hue-4: #9656a1;
  --hue-5: #1a72c2;
  --hue-6: #71e0ff;
  --hue-7: #fe340a;
  --mono-0: #fffffe;
  --mono-1: #493f59;

  --primary: oklch(from var(--hue-7) l c h);
  --pop: oklch(from var(--hue-6) l c h);
  --accent: oklch(from var(--hue-5) l c h);
  --grey: #efefef;
  --white: var(--mono-0);
  --black: var(--mono-1);
}

@theme inline {
  --color-black: var(--black);
  --color-grey: var(--grey);
  --color-white: var(--white);
  --color-black-off: oklch(from var(--black) calc(l + 0.2) c h);
  --color-white-off: oklch(from var(--white) calc(l - 0.2) c h);

  --color-primary-100: oklch(from var(--primary) calc(l + 0.2) c h);
  --color-primary-200: oklch(from var(--primary) l c h);
  --color-primary-300: oklch(from var(--primary) calc(l - 0.2) c h);

  --color-accent-100: oklch(from var(--accent) calc(l + 0.2) c h);
  --color-accent-200: oklch(from var(--accent) l c h);
  --color-accent-300: oklch(from var(--accent) calc(l - 0.2) c h);

  --color-pop-100: oklch(from var(--pop) calc(l + 0.2) c h);
  --color-pop-200: oklch(from var(--pop) l c h);
  --color-pop-300: oklch(from var(--pop) calc(l - 0.2) c h);
}
