---
import Layout from "./layout.astro";
import Hero from "$lib/components/Hero.astro";
import Icon from "$lib/components/Icon.astro";
import fileManifest from "$lib/manifest";
const midPoint = Math.ceil(fileManifest.length / 2);
const firstColumn = fileManifest.slice(0, midPoint);
const secondColumn = fileManifest.slice(midPoint);
---

<Layout title="" description="">
  <h1 class="text-center text-6xl font-bricolage text-primary-200 py-8">
    Gallery
  </h1>
  <section class="my-12">
    <div class="content-grid">
      <div class="wide grid grid-cols-2 gap-2">
        <div class="flex flex-col gap-2">
          {firstColumn.map((src) => <img src={`/gallery/${src}`} />)}
        </div>
        <div class="flex flex-col gap-2">
          {secondColumn.map((src) => <img src={`/gallery/${src}`} />)}
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  @reference "$lib/styles/index.css";
  img {
    object-fit: cover;
  }
  .left-container {
    @apply rounded-br-2xl;
  }
  .right-container {
    @apply rounded-bl-2xl;
  }
</style>
