---
import Icon from "./Icon.astro";
---

<footer class="p-12 bg-primary-200 flex text-amber-100 jusstify-bottom">
  <aside class="shrink-0 flex">
    <!-- <div class="flex flex-col">
      <div class="flex">
        <Icon ctx="brush" size="10em" nostroke />
      </div>
      <Icon ctx="feather" nostroke size="20em" />
    </div> -->
  </aside>
  <div class="div grow flex flex-col items-center">
    <div
      class="flex grow flex-col justify-center items-center gap-2 capitalize font-bricolage text-6xl"
    >
      <span class="">stonework</span>
      <span class="">sculpture</span>
      <span class=""> metal work</span>
      <span class="">plaster</span>
      <span class="">painted surfaces</span>
    </div>
    <span class="shrink-0"
      >© 2026 Anna Taylor Conservation. All rights reserved.</span
    >
  </div>
  <aside class="shrink-0 relative">
    <!-- <Icon ctx="ladder" size="20em" nostroke />
    <Icon ctx="cube" size="8em" nostroke /> -->
  </aside>
</footer>

<style>
  [data-position] {
    top: -10em;
    height: 10em;
  }
</style>
