---
import Icon from "./Icon.astro";
const currentPath = Astro.url.pathname;
const isHome = currentPath === "/" || currentPath === "";

const pageTitles = {
  gallery: "Gallery",
};
const getPageTitle = () => {
  const slug = currentPath.split("/").pop() || "";
  return pageTitles[slug] || slug.replace(/-/g, " ");
};
---

<nav class="p-4 flex fixed w-full items-center z-10 top-0">
  <aside class="shrink-0">
    <a
      href="/"
      data-selotape
      class="flex text-primary-200 font-display rounded-br-2xl rounded-tr-2xl"
      >Anna Taylor Conservation</a
    >
  </aside>
  <div
    class="grow flex font-bricolage text-primary-200 text-4xl justify-center"
  >
    <!-- <span>{getPageTitle()}</span> -->
  </div>
  <aside class="shrink-0 relative text-primary-200 font-display">
    <a data-selotape class="link" href="/gallery">gallery</a>
    <!-- <Icon ctx="cube" size="8em" nostroke /> -->
    <!-- <div class="transform rotate-[-20deg]">
      <Icon ctx="cone" size="6em" nostroke />
    </div> -->
  </aside>
</nav>
<style>
  [data-selotape] {
    border: 1px solid;
    padding: 1em;
    background-color: #ff00001f;
    backdrop-filter: blur(1em);
  }
</style>
